// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display: inline;
  position:absolute;
  text-align:left;
  width: 90px;
  height: 90px;
  z-index:50;
  padding: 25px 25px 20px;

  input {
    width: 90px;
  }
}

img {
  z-index: -2;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.newBox {
    background-color: purple;
    display:inline-block;;
    position:absolute;
    height:56px;
    width:56px;
}
